* {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
}

body {
  background-color: #374151;
}

header a {
  text-decoration: none;
}

nav {
  padding: 72px 180px;
}

nav ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
  background-color: transparent;
  height: 40px;
}

h1 {
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}

main {
  padding: 0 180px 84px 180px;
}

section > div:first-child,
article p:nth-child(-n + 2) {
  margin-bottom: 30px;
}

section > div:nth-child(2) {
  margin-bottom: 28px;
}

p {
  margin: 0;
}

footer {
  padding: 0 180px 77px 180px;
}

.search img {
  margin-right: 17px;
}

.search {
  background-color: #283241;
  border-radius: 100px;
  height: 40px;
  padding-left: 18px;
}

.descriptor {
  opacity: 0.6;
  font-size: 14px;
}

.logo {
  font-size: 18px;
}

.navMenu,
.mainText,
.footer {
  font-size: 16px;
}

.autorText {
  font-size: 16px;
  line-height: 28px;
}

.largeText {
  font-size: 20px;
  line-height: 32px;
}

.mainText {
  line-height: 30px;
}

.titleH1 {
  margin-bottom: 14px;
}

[alt="main_img"] {
  margin-bottom: 69px;
}
