* {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #374151;
}

.descriptor {
  opacity: 0.6;
  font-size: 14px;
}

.logo {
  font-size: 18px;
}

.header {
  font-size: 24px;
  line-height: 38px;
}

.navMenu,
.mainText,
.footer {
  font-size: 16px;
}

.autorText {
  font-size: 16px;
  line-height: 28px;
}

.largeText {
  font-size: 20px;
  line-height: 32px;
}

.mainText {
  line-height: 30px;
}

.bgSearch {
  background-color: #283241;
}
